<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevDress Store login</title>
    
</head>
<body>
  <form id="login-form">
    <h2>Bienvenido a DevDress Store</h2>
    <input class="input-container" id="username" type="email" placeholder="Correo electronico" required>
    <input class="input-container" id="password" type="password" placeholder="Contraseña" required>
    <button type="submit">Iniciar sesión</button>
    <p>¿No tienes una cuenta? <a href="signup" id="register-link">Registrate aquí.</a></p>
  </form>

  <script src="login.js"></script>
  <link rel="stylesheet" href="/css/styles.css">
</body>
</html>