<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevDress Store signup</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
  <form id="register-form">
    <h2>Registro</h2>
    <input class="input-container" id="username" type="email" placeholder="Correo electronico" required>
    <input class="input-container" id="password" type="password" placeholder="Contraseña" required>
    <button type="submit">Registrarse</button>
    <p>¿Ya tienes una cuenta? <a href="login" id="login-link">Iniciar sesión aquí.</a></p>
  </form>

  <script src="signup.js"></script>
</body>
</html>